.w-20px{width:20px}
.w-40px{width:40px}
.w-180px{width:180px}
.w-345px{width:345px}

.select-2{width:60px}
.select-6{width:100%}
.select-7{width:70px}
.w-type  {width:150px}
.select-3{width:265px}
.half-left {text-align:right}
.half-right{text-align:left}
.text-1{width:100%}
.text-6{width:75%}
.disabled{background-color:#ddd; border:1px solid #aaa;}
.a-left,.a-leftS{
	text-align: left;
	padding-bottom: 8px;
}
.a-leftS{font-size: 18px}

div #hours,#personNum,#m-Salary{display: inline-block;}
div #hours,#personNum,#increase,#eachAverage,#eachMonth,#salaryContrast{float: left;}